@use "../../abstracts/" as *;

.featured-card-container {
  @extend %card;
  gap: 20px;

  img {
    @extend %card-image;
    width: 400px;

    &:hover {
      @extend %card-image-hover;
    }
  }

  .featured-description-container {
    @extend %card-details;

    h2 {
      @extend %card-title;
    }

    .description {
      opacity: $large-opacity;
    }
  }
}

@media (max-width: 1290px) {
  .featured-card-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
