@use "../../abstracts/" as *;

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .card-container {
    @extend %card;
    flex-direction: column;
    z-index: 2;

    img {
      @extend %card-image;
      width: 350px;
      height: 200px;

      &:hover {
        transform: scale(1.04);
      }
    }

    .description-container {
      @extend %card-details;
      padding-left: 50px;

      h2 {
        @extend %card-title;
      }

      .description {
        opacity: $large-opacity;
      }
    }
  }
}

// applies to both ProjectsCard.jsx and FeaturedCard.jsx

.tech-container,
.buttons-container {
  display: flex;
  gap: 15px;

  .tech {
    opacity: $large-opacity;
    transition: color 0.3s ease;

    &:hover {
      color: $accent-color;
    }
  }

  .button {
    padding: 5px 15px;
    border: 1px solid $accent-color;
    border-radius: 10px;
    color: $accent-color;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: #d4112b1e;
    }
  }
}
