@use "../abstracts/" as *;

.app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  gap: $large-gap;
  padding: 20px 30px;

  font-size: $medium-font;
  font-family: $secondary-font;
  background: $background-color;
  color: $primary-color;
  scroll-behavior: smooth;
}

.app-content {
  display: flex;
  flex-direction: column;
  width: 70dvw;
  margin: 0 auto;
  flex: 1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $primary-font;
}
