@use "../abstracts/" as *;

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding-top: 140px;
    padding-bottom: 70px;

    h1 {
      font-size: clamp(2rem, 1rem + 5vw, 3.2rem);
      font-weight: 400;
    }

    h2 {
      font-size: clamp(1.3rem, 1rem + 0.9vw, 1.6rem);
      font-style: italic;
      font-weight: 100;
    }
  }
}

// animation for h2

@keyframes expand-from-blur {
  0% {
    letter-spacing: -0.5em;
    filter: blur(10px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: $large-opacity;
  }
}

/* run animation 
for 2 secs
using a smooth easing curve from center
with no delay
play it once
in the normal direction
and keep the final animated state */

.expand-from-blur {
  animation: expand-from-blur 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1
    normal both;
}

@media (max-width: 690px) {
  .home-container > .titles {
    padding-top: 140px;
    padding-bottom: 70px;
  }
}
