@use "../../scss/abstracts/" as *;

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 30px;

  background-color: transparent;
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    backdrop-filter 0.2s ease;
  z-index: 100;

  &.nav-scrolled {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: $small-shadow;
    backdrop-filter: blur(4px);
  }

  .logo {
    font-family: $primary-font;
  }

  .page-links {
    display: flex;
    gap: 20px;
    font-size: $medium-font;
    font-family: $primary-font;
    padding-right: 70px;

    // underline animation
    a {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 1px;
        width: 0%;
        height: 2px;
        background-color: $accent-color;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

@media (max-width: 690px) {
  .nav-container {
    flex-direction: column;
    gap: 15px;

    .page-links {
      padding-right: 0px;
    }
  }
}
