@use "./variables" as *;

%card {
  display: flex;
  padding: 20px 0;
  gap: 10px;
}

%card-image {
  // border: 1px solid $secondary-color;
  border-radius: 10px;
  transition: transform 0.2s ease-out;
  box-shadow: $small-shadow;
  // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  // transition: box-shadow 0.4s ease;
}

%card-image-hover {
  transform: scale(1.04);
  box-shadow: $small-shadow;
  // box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.6);
}

%card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 340px;
  gap: 7px;
  font-size: $small-font;
}

%card-title {
  font-size: calc($large-font + 0.3rem);
  font-weight: 600;
  font-style: italic;
}
