@use "./variables" as *;

%card {
  display: flex;
  padding: 20px 0;
  gap: 15px;
}

%card-image {
  border: 1px solid $secondary-color;
  border-radius: 10px;
  transition: transform 0.2s ease-out;
  box-shadow: $small-shadow;
}

%card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  gap: 10px;
  font-size: $small-font;
}

%card-title {
  font-size: calc($large-font + 0.3rem);
  font-weight: 600;
  font-style: italic;
}
