@use "./variables" as *;

%card {
  display: flex;
  padding: 20px 0;
  gap: 13px;
}

%card-image {
  border-radius: 10px;
  box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

%card-image-hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

%card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 43ch;
  gap: 7px;
  font-size: $small-font;
}

%card-title {
  font-size: calc($large-font + 0.3rem);
  font-weight: 600;
  font-style: italic;
}
