@use "../scss/abstracts/" as *;

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (max-width: 640px) {
  .header {
    padding-bottom: 80px;
  }
}

// animation for h2
// with help from AI!

@keyframes expand-from-blur {
  0% {
    letter-spacing: -0.5em;
    filter: blur(10px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: $large-opacity;
  }
}

.expand-from-blur {
  animation: expand-from-blur 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1
    normal both;
}

/* run animation 
for 2 secs
using a smooth easing curve from center
with no delay
play it once
in the normal direction
and keep the final animated state */
