@use "../scss/abstracts/" as *;

.notFound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding-bottom: 250px;
  background: $background-color;

  h2 {
    font-size: $large-font;
    font-weight: 400;
  }

  h1 {
    font-size: $vlarge-font;
    font-weight: 400;
  }

  button {
    margin-top: 15px;
    padding: 5px 15px;
    border: 1px solid $accent-color;
    border-radius: 10px;
    color: $accent-color;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: #d4112b1e;
    }
  }
}
