@use "../scss/abstracts/" as *;

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-container,
.other-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  .card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.title {
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;

  border-bottom: 2px dotted $primary-color;
  font-size: 1.2rem;
  font-weight: 100;
}

// for margins when scrolled using navbar links

#projects {
  scroll-margin-top: 80px;
}

@media (max-width: 640px) {
  #projects {
    scroll-margin-top: 110px;
  }
}
