@use "../abstracts/" as *;

.footer-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 200px;
  width: fit-content;
  padding: 20px;

  font-size: $small-font;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  background: transparent;
  backdrop-filter: blur(10px);
  z-index: 2;

  .image-social-wrapper {
    display: flex;
    align-items: center;
    gap: $medium-gap;

    .portrait {
      width: 60px;
      height: 60px;
      border: 1px solid rgb(60, 60, 60);
      border-radius: 50%;
    }

    .footer-wrapper {
      display: flex;
      flex-direction: column;
      gap: $vsmall-gap;

      .social-links {
        display: flex;
        gap: $small-gap;

        .socials-logo {
          width: 24px;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
