@use "../../../scss/abstracts/" as *;

.theme-buttons {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(20, 20, 20, 0.1);
  background: rgba(255, 255, 255, 0.04);
  transition: transform 0.6s ease;
}

.rotate-dark {
  transform: rotate(0deg);
  color: $light-blue-color;
}

.rotate-light {
  transform: rotate(180deg);
  color: $light-pink-color;
}

@media (max-width: 690px) {
  .theme-buttons {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
